/NivelamentoJava/nbproject/private/
/NivelamentoJava/build/
.DS_Store
/CalculadoraIMC/nbproject/private/
/CalculadoraIMC/build/
/Bhaskara/nbproject/private/
/Bhaskara/build/
/Bhaskara/dist/
/Cookies_Sessoes/nbproject/private/
/Cookies_Sessoes/build/
/Cookies_Sessoes/dist/
/Bhaskara_Servlet/nbproject/private/
/Bhaskara_Servlet/build/
/Bhaskara_Servlet/dist/
/Projeto_SisAcademico/SisAcademico/nbproject/private/
/Projeto_SisAcademico/SisAcademico/build/
/Atv_SomaAN/nbproject/private/
/Atv_SomaAN/build/
/Projeto_SisAcademico/SisAcademico/dist/
/Projeto-Recuperação/UrnaEletronica/nbproject/private/
/Projeto-Recuperação/UrnaEletronica/build/
