.corpo {
    margin-top: 30px;
    margin-left: 25px;
}

.corpo a {
    font-size: 20px;
}

.corpo ul {
    font-size: 24px;
    list-style-type: square;
}

.item-formulario {
    margin-top: 30px;
}

.item-formulario button[type=submit] {
    width: 250px;
    height: 30px;
    background-color: lightblue;
}

.item-formulario button[type=reset] {
    width: 250px;
    height: 30px;
    background-color: pink;
    margin-top: 10px;
}